h1 {
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 60px;
}

button {
    font-size: 20px;
    padding: 15px;
    margin: 15px;
}
#container {
    height: 600px;
    width: 600px;
    border: 5px solid black;
    margin: auto;
}

#button-container {
    width: 600px;
    margin: auto;
    text-align: center;
}